*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 400px;
}

input {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}


.container {
    background-color: #b6acac;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px   ;
}


/*-------------------------------*/
.accordion_title {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

/* start accordion_item-1 */

.accordion_item-1 {
    border: 1px solid black;
    margin: 20px
}
/* стили заголовка лэйбла -> */
.accordion_label-title {
    box-sizing: border-box;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 22px;
    line-height: 32px;
    color: #8340b7;
    background-color: #e8e559;
}
/* стили заголовка лэйбла <- */
/* hover на заголовок лэйбла начало*/
.accordion_label-title:hover {
    color: #3e0077;
    background-color: #c9b035;
    font-size: 24px;
    line-height: 34px;
    transition: background .5s ease-in-out;
}
/* hover на заголовок лэйбла конец*/

/* изменение стилей заголовка лэйбла при нажатии -> */
.accordion_input-1:checked ~ .accordion_label-title {
    color: #3e0077;
    background-color: #c9b035;
    font-size: 24px;
    line-height: 34px;
}
/* изменение стилей заголовка лэйбла при нажатии <- */

/* стрелка при нажатии закрыта старт*/
.accordion_span-vue1 {
    position: absolute;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
}
/* стрелка при нажатии закрыта конец*/

/* стрелка при нажатии открыта старт*/
.accordion_input-1:checked ~ .accordion_label-title .accordion_span-vue1 {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
}
/* стрелка при нажатии открыта конец*/
.accordion_label-title .accordion_span-vue1:hover {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
}
/* стили для контента ->*/
.accordion_content{
    display: flex;
    justify-content: center;
    transition: .6s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

}
/* стили для контента ->*/

/* style for img -> */
.accordion_image-1 {
    margin: 15px;
}
/* style for img -> */

/* при клике картинка плавно появляется* -> */
.accordion_input-1:checked ~ .accordion_content {
    height: 300px;
    opacity: 1;
}
/* при клике картинка плавно появляется* <-  */

/* при наведении картинка плавно появляется* -> */
.accordion_label-title:hover ~ .accordion_content {
    height: 300px;
    opacity: 1;
}
/* при наведении картинка плавно появляется* <-  */


/* при на ведении на инпут стрелка меняет положение на открыто -> */
.accordion_input-1:hover ~ .accordion_label-title .accordion_span-vue1 {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent black transparent;
}
/* при на ведении на инпут стрелка меняет положение на открыто <- */

/* end accordion item-1 */

@media screen and (min-width: 800px){
    img {
        max-width: 80%;
        max-height: 80%;
        margin: 5%;
    }
    .accordion_title {
        display: flex;
        justify-content: center;
        padding: 10px 0 0 0;
        font-size: 36px;
        line-height: 42px;


    }
    .accordion_label-title {
        box-sizing: border-box;
        position: relative;
        display: block;
        cursor: pointer;
        padding: 5px 5px;
        font-size: 28px;
        line-height: 36px;
        color: #8340b7;
        background-color: #e8e559;
    }
    .accordion_label-title:hover {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 32px;
        line-height: 40px;
        transition: background .5s ease-in-out;
    }

    .accordion_input-1:checked ~ .accordion_label-title {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 28px;
        line-height: 36px;
    }

    .accordion_item-1 {
        border: 1px solid black;
        margin: 5px
    }

    .accordion_input-1:checked ~ .accordion_content {
        height: max-content;
        max-width: max-content;
        opacity: 1;
    }

}


@media screen and (max-width: 524px){
    img {
        max-width: 80%;
        max-height: 80%;
        margin: 5%;
    }
    .accordion_title {
        display: flex;
        justify-content: center;
        padding: 10px 0 0 0;
        font-size: 22px;
        line-height: 26px;


    }
    .accordion_label-title {
        box-sizing: border-box;
        position: relative;
        display: block;
        cursor: pointer;
        padding: 5px 5px;
        font-size: 19px;
        line-height: 24px;
        color: #8340b7;
        background-color: #e8e559;
    }
    .accordion_label-title:hover {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 19px;
        line-height: 24px;
        transition: background .5s ease-in-out;
    }

    .accordion_input-1:checked ~ .accordion_label-title {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 19px;
        line-height: 24px;
    }

    .accordion_item-1 {
        border: 1px solid black;
        margin: 5px
    }

    .accordion_input-1:checked ~ .accordion_content {
        height: max-content;
        max-width: max-content;
        opacity: 1;
    }
}

@media screen and (max-width: 375px) {
    img {
        max-width: 80%;
        max-height: 80%;
        margin: 5%;
    }
    .accordion_title {
        display: flex;
        justify-content: center;
        padding: 10px 0 0 0;
        font-size: 36px;
        line-height: 41px;

    }
    .accordion_label-title {
        box-sizing: border-box;
        position: relative;
        display: block;
        cursor: pointer;
        padding: 5px 15px;
        font-size: 26px;
        line-height: 33px;
        color: #8340b7;
        background-color: #e8e559;
        margin: 10px;
    }
    .accordion_label-title:hover {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 26px;
        line-height: 33px;
        margin: 10px;
    }

    .accordion_input-1:checked ~ .accordion_label-title {
        color: #3e0077;
        background-color: #c9b035;
        font-size: 26px;
        line-height: 33px;
        margin: 10px;
    }

    .accordion_item-1 {
        border: 1px solid black;
        margin: 5px
    }

    .accordion_input-1:checked ~ .accordion_content {
        height: max-content;
        max-width: max-content;
        opacity: 1;
    }

}

